<section id="services">
<!-- Page Content -->
<div class="content-section-a">

    <div class="container">

            <div class="row">

              {% for post in site.posts reversed %}
                <div class="col-lg-6 col-sm-6">
                  <div class="panel panel-default">
                    <div class="panel-body">
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                  </div>
                  </div>

                </div>
              {% endfor %}

            </div>

        </div>
        <!-- /.container -->

    </div>

</section>
