<section id="services">
<!-- Page Content -->
<div class="content-section-a">

    <div class="container">

            <div class="row">

<center>
              <div class="lead">
              A leadership quickie is a short and action-oriented inspiration for your
              daily leadership work, it will open up your leader mindset,
              and it reminds you of basic leadership tools and principles.
            </div>
</center>

              {% for post in site.posts reversed %}
                <div class="col-lg-6 col-sm-6">
                  <div class="panel panel-default">
                    <div class="panel-body">
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                  </div>
                  </div>

                </div>
              {% endfor %}

            </div>

        </div>
        <!-- /.container -->

    </div>

</section>
